.tarif-settings {
  position: relative;
  min-height: 100%;
  //padding-top: 20px;
}
.tarif-settings-wrap {
  display: flex;
  flex-flow: row wrap;
}
.tarif-settings-wrap:before {
  content: "";
  display: block;
  position: absolute;
  height: 80%;
  width: 1px;
  top: 10%;
  right: 0;
  background-color: #ddd;
}
.form-column {
  width: 50%;
  text-align: left;
  padding: 0 5px;
}
.form-column-full {
  width: 100%;
  text-align: left;
}
.form-group label {
  font-weight: 600;
  font-size: 14px;
}
.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 120px;
  height: 30px;
  padding: 3px !important;
  border-radius: 18px;
  cursor: pointer;
  vertical-align: middle;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 14px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.active-only:before {
  background: #66cc5d; color:#fff;
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #31ff99;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.active-only {
  background: #66cc5d; color:#fff;
}

.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 22px;
  height: 22px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #eeeeee, white);
  background-image: -moz-linear-gradient(top, #eeeeee, white);
  background-image: -o-linear-gradient(top, #eeeeee, white);
  background-image: linear-gradient(to bottom, #eeeeee, white);
}
.switch-input:checked ~ .switch-handle {
  left: 90px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-green > .switch-input:checked ~ .switch-label {
  background: #4fb845;
}

.form-prompt {
  display: inline-block;
  font-size: 18px;
  background: #fcb53e;
  color: #fff;
  text-align: center;
  padding: 0px 9px;
  border-radius: 50%;
  border: 2px solid #fff;
  font-weight: bold;
  cursor: pointer;
  vertical-align: middle;
}
.switch-wrap {
  padding-top: 18px;
}
.tarif-result__title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.tarif-result-table tr td:first-child {
  font-weight: bold;
}
.tarif-result-table tr:nth-of-type(2) td:first-child {
  font-size: 18px;
}
.alert-dismissible {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  font-size: 16px;
  float: none;
  margin-bottom: 15px;
}
.ta-center {text-align: center;}
.price-mt {margin: 3px;}
.custom-tarif {
  border-bottom: 1px dashed #ddd;
}
.tarif-info {
  /*border: 1px solid rgb(47, 165, 255);*/
  margin-bottom: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 16px -7px rgb(47, 165, 255);
}

.save-setting {
  width: 100%;
}p

.wrapper-cp {
  padding: 15px;
}

.wrapper-statistic {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 1024px) {
  .statistic {
    width: 24%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper-statistic {
    display: flex;
    justify-content: space-between;
  }
  .statistic {
    width: 49%;
  }
}

.main-area {
  font-size: 18px;
  /*box-shadow: 0 0 5px rgba(0,0,0,0.25);*/
  margin-bottom: 20px;
  padding: 0;
  justify-content: center;
}

.row-main-area {
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
}
.row-main-area h2 {
  display: flex;
}
.row-main-area > div {
  display: flex;
  align-items: center;
}
.row-main-area > div:nth-child(1) {
  flex: 1;
  border-bottom: 2px solid rgb(47, 165, 255);
  color: rgb(47, 165, 255);
  font-weight: bold;
  justify-content: flex-end;
  text-align: right;
}
.row-main-area > div:nth-child(2) {
  flex: 3;
  border-bottom: 1px solid #eee;
  justify-content: center;
}

.switch::before {
  display: none!important;
}

.mark-save-btn {
  display: block;
  margin: 10px auto;
}

.mark-element {
  //border-width: 3px;
  //background: #ff8d003d;
  margin-top: 10px;
  //border-radius: 10px;
}
.mark-element:first-child {
  margin-top: 0px;
}

.mark-element .table > thead > tr > th,
.mark-element .table > tbody > tr > th,
.mark-element .table > tfoot > tr > th,
.mark-element .table > thead > tr > td,
.mark-element .table > tbody > tr > td,
.mark-element .table > tfoot > tr > td {
  //border-top: 1px solid #ff8d0075;

}

.ui-tooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}
.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
  font-size: 20px;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left {
  left: 20%;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.top:after {
  bottom: -20px;
  top: auto;
}

.my-tooltip-style {
  font-size: 20px;
}