.node {
  cursor: pointer;

  circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  text {
    font: 10px sans-serif;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }
}


rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #0E0;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2.0px;
}

