.wrapper-admin {

  .main-sidebar {
    width: 250px;
    top: 0px;
    z-index: 1050;
    padding-top: 10px;
  }

  .content-wrapper {
    margin-left: 250px;
  }

  .user-panel > .info {
    background: none;
    color: #ff8d00;
  }

  .main-header .navbar{
    min-height: 70px;
  }

  .core-sidebar {
    background: #222933!important;
  }

  .sidebar-menu > li {
    //background: #ff8d00;
    //border-bottom: 1px solid #ea8910;
    background: #343b46;
    border-bottom: 1px solid #524534;
  }

  .sidebar-menu > li > a > i {
    width: 35px!important;
    font-size: 22px;
    color: #ff8d00!important;
    text-align: center;
    vertical-align: middle;
  }

  .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a, .sidebar-menu > li.menu-open > a,
  .sidebar-menu > li > .treeview-menu {
     background: rgba(0, 0, 0, 0.23);
  }

  .sidebar-menu > li > a {
    padding: 11px 5px 10px 7px;
  }

  .treeview i {
    color: #fff;
  }
}

.economy {
  background: #ff8d00;
  border-radius: 10px;
  color: #fff;
  padding: 30px 10px;
}

.file-preview-frame.krajee-default {
  width: 90%!important;
}

.kv-file-content, .file-caption-info, .file-size-info {
  width: 100%!important;
}

.theme-color {
  color: #ff8d00;
}
