.userInfo {
  >div {
    padding: 10px;
    box-sizing: border-box!important;
    border-bottom: 2px solid #ff8d00;
  }

  div div:first-child {
    text-align: right;
    font-weight: bold;
    color: #ff8d00;
  }

  div:nth-child(2n) {
    //border-bottom: 2px solid #ff8d00;
  }
}

.form-prompt.red{
  background: #fd565e;
}