/*
 * Core: General Layout Style
 * -------------------------
 */
html,
body {
  height: 100%;
  .layout-boxed & {
    height: 100%;
  }
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Layout */
.wrapper {
  .clearfix();
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  .layout-boxed & {
    max-width: 1250px;
    margin: 0 auto;
    min-height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    position: relative;
  }
}

.layout-boxed {
  background: url('@{boxed-layout-bg-image-path}') repeat fixed;
}

/*
 * Content Wrapper - contains the main content
 */
.content-wrapper,
.main-footer {
  // Using disposable variable to join statements with a comma
  @transition-rule: @transition-speed @transition-fn,
  margin @transition-speed @transition-fn;
  .transition-transform(@transition-rule);
  margin-left: @sidebar-width;
  z-index: 820;
  // Top nav layout
  .layout-top-nav & {
    margin-left: 0;
  }
  @media (max-width: @screen-xs-max) {
    margin-left: 0;
  }
  // When opening the sidebar on large screens
  .sidebar-collapse & {
    @media (min-width: @screen-sm) {
      margin-left: 0;
    }
  }
  // When opening the sidebar on small screens
  .sidebar-open & {
    @media (max-width: @screen-xs-max) {
      .translate(@sidebar-width, 0);
    }
  }
}

.content-wrapper  {
  min-height: 100%;
  //background-color: @content-bg;
  z-index: 800;
}

.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid @gray-lte;
}

/* Fixed layout */
.fixed {
  .main-header,
  .main-sidebar,
  .left-side {
    position: fixed;
  }
  .main-header {
    top: 0;
    right: 0;
    left: 0;
  }
  .content-wrapper,
  .right-side {
    padding-top: 50px;
    @media (max-width: @screen-header-collapse) {
      padding-top: 100px;
    }
  }
  &.layout-boxed {
    .wrapper {
      max-width: 100%;
    }
  }
  .wrapper {
    overflow: hidden;
  }
}

.hold-transition {
  .content-wrapper,
  .right-side,
  .main-footer,
  .main-sidebar,
  .left-side,
  .main-header .navbar,
  .main-header .logo,
  .menu-open .fa-angle-left {
    /* Fix for IE */
    .transition(none);
  }
}

/* Content */
.content {
  min-height: 250px;
  padding: 15px;
  .container-fixed(@grid-gutter-width);

  &,
  .overlay-wrapper {
    // Box overlay for LOADING STATE effect
    > .overlay,
    > .loading-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .overlay {
      z-index: 50;
      background: rgba(255, 255, 255, 1);
      .border-radius(@box-border-radius);
      > .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
        color: #000;
        font-size: 30px;
      }
    }

    .overlay.dark {
      background: rgba(0, 0, 0, 0.5);
    }
  }

}

/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

/* General Links */
a {
  color: @link-color;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: @link-hover-color;
}

/* Page Header */
.page-header {
  margin: 10px 0 20px 0;
  font-size: 22px;

  > small {
    color: #666;
    display: block;
    margin-top: 5px;
  }
}
