/*
 * Page: Profile
 * -------------
 */
a, button {
  transition: all .3s linear;
}

.profile-user-img {
  margin: 0 auto;
  width: 100px;
  padding: 3px;
  border: 3px solid @gray-lte;
}

.profile-username {
  font-size: 21px;
  margin-top: 5px;
}

.sandbox-attention {
  background: #e64c4c;
  color: #fefefe;
  padding: 30px 0;
  text-align: center;
  margin-bottom: 0;
}

.post {
  border-bottom: 1px solid @gray-lte;
  margin-bottom: 15px;
  padding-bottom: 15px;
  color: #666;
  &:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .user-block {
    margin-bottom: 15px;
  }
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: 0px solid #fff;
}

.my-birds-h2 {
  margin-top: 0;
  padding-top: 10px;
}

.border-for-inner {
  border: 1px solid #f9f9f9;
  border-radius: 5px; margin: 10px 0;
}

.pos-left-5 {
  left: 33.333333333%;
}

.pos-left-9 {
  left: 66.666666666%;
}

.my-header {
  margin: auto;
  width: 980px;
}

//.main-header .navbar {
//  margin-left: 0;
//}

//.main-header .navbar-custom-menu {
//  float: none;
//  text-align: center;
//}
//
//.navbar-nav {
//  float: none;
//  display: inline-block;
//  vertical-align: middle;
//}

//.sidebar-menu li {
//  position: relative;
//}

.edit-menu-btn {
  position: absolute!important;
  left: calc(100% - 30px);
  display: inline;
  width: 30px;
  font-size: 18px;
  background: #00aa52!important;
  color: #eee!important;
  padding: 10px 5px!important;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
}

.drag-n-drop {
  left: calc(100% - 60px);
  cursor: move;
  background: #00c3f4!important;
  color: #eee!important;
}

.delete-btn {
  left: 100%;
  cursor: pointer;
  background: #f44745 !important;
  color: #eee!important;
}

.menu-setting {
  position: absolute!important;
  left: calc(100% - 40px);
  display: inline;
  width: 40px;
  height: 40px;
  font-size: 18px;
  background: #00aa52!important;
  color: #eee!important;
  padding: 6px 10px!important;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
}

.selectpicker {
  width: 30px;
}

.bootstrap-select {
  width: 40px;
}

.add-menu, .save-menu {
  display: block;
  margin: 5px auto;
}

.nav .edit-menu-btn {
  position: absolute!important;
  left: calc(50% - 45px);
  top:40px;
  display: inline;
  width: 30px;
  font-size: 18px;
  background: #00aa52!important;
  color: #eee!important;
  padding: 6px 7px!important;
  cursor: pointer;
  height: 30px;
}

.nav .drag-n-drop {
  left: calc(50% - 15px);
  top:40px;
  cursor: move;
  background: #00c3f4!important;
  color: #eee!important;
}

.nav .delete-btn {
  left: calc(50% + 15px);
  top:40px;
  cursor: pointer;
  background: #f44745 !important;
  color: #eee!important;
}

.edit-menu-btn.top-menu-setting {
  left:0px;
}

.site-setting {
  position: absolute!important;
  left: calc(100% - 30px);
  background: #00acd6!important;
}

.site-setting i {
  color: #eee!important;
}

.create-site-btn {
  margin: auto;
  width: 200px;
  display: block;
  padding: 10px;
}

.m-auto {
  margin: auto;
}

.p-0 {
  padding: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.p-30 {
  padding: 30px;
}

.pb-0 {
  padding-bottom: 0px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-50 {
  padding-bottom: 50px;
}

.mb-0 {
  margin-bottom: 0px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}

.mt-0 {
  margin-top: 0px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}

.control-sidebar {
  background: #222d32;
}

.tab-content h3 {
  font-size: 25px;
  padding-bottom: 10px;
}

.tab-content h4 {
  //font-weight: bold;
}
.tab-content h5 {
   font-weight: bold;
  font-size: 15px;
 }

.tab-content input {
  //background: #45515d;
  //color: #fff;
  //border: 1px solid #1a2125;
}

#edit-form-box .for-input-post h4 {
  border-bottom: 2px solid #ff8d00;
  padding-bottom: 10px;
}

.layout-boxed {
  margin: auto;
}

.skin-blue .sidebar-menu > li.header {
  background: none;
}

.tab, .tab-link {
  float: left;
  width: 33%;
  text-align: center;
  cursor: pointer;
  border-bottom: 3px solid #45515d;
  transition: .3s all linear;
  padding: 5px;
}

.tab-link {
  width: 50%;
}

.tab:hover, .tab-link:hover, .tab-active, .tab-link-active {
  border-bottom: 3px solid #eaa525;
  color: #eaa525;
}

.image-item {
  max-width: 90%;
  height: 150px;
}

.type-order-item {
  border: 2px #ff8d00 solid;
  position: relative;
  padding: 10px 10px 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #ff8d0033;
}

.type-order-item-btn {
  position: absolute;
  bottom: 10px;
}

.type-order-item-btn.btn-primary {
  left: 25px;
}

.type-order-item-btn.btn-danger {
  right: 25px;
}

.birds-list h2 {
  margin-top: 0px;
  padding: 20px 0;
  background: #3c8dbc;
  font-size: 20px;
  color: #fff;
}

.birds-list > div:first-child {
  border: 2px solid #3c8dbc;
  padding-bottom: 20px;
}

.birds-list-body {

}

.skin-blue .main-header .navbar {
   background-color: #ff8d00;
 }

.main-sidebar {
  padding-top: 70px;
  //width: 260px;
  display: none;
}

.navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
}

//* {
//  transition: all .3s ease;
//}

.logo-span-h {
  color: #0cbebc;
  background: #fff;
  padding: 5px 11px 5px 16px;
  border-radius: 50px 50px 0 50px;
}

.logo-span-m {
  color: #0cbebc;
  background: #fff;
  padding:5px 11px 5px 16px;
  border-radius: 50px 0px 50px 50px;
}

.logo-span-invert-h {
  color: #fff;
  background: #0cbebc;
  padding: 5px 11px 5px 16px;
  border-radius: 50px 50px 0 50px;

}

.logo-span-invert-m {
  color: #fff;
  background: #0cbebc;
  padding:5px 11px 5px 16px;
  border-radius: 50px 0px 50px 50px;

}

.logo-span-h-small {
  color: #0cbebc;
  background: #fff;
  padding: 5px 11px 5px 16px;
  border-radius: 50px 50px 0 50px;
  font-size: 35px;
}

.logo-span-m-small {
  color: #0cbebc;
  background: #fff;
  padding:5px 11px 5px 11px;
  border-radius: 50px 0px 50px 50px;
  font-size: 35px;
}

.logo-span-h-mini {
  color: #0cbebc;
  background: #fff;
  padding: 5px 8px 5px 11px;
  border-radius: 50px 50px 0 50px;
  font-size: 20px;
}

.main-header .logo {
  //height: 70px;
  background: #8961dc!important;
  padding-top: 10px;
  //width: 260px;
}

.fwb {
  font-weight: bold;
}

//.content-wrapper {
//  margin-left: 260px;
//}
//
//.main-header .navbar {
//  margin-left: 260px;
//}

.skin-blue .main-header .navbar .sidebar-toggle {
  //padding: 25px;
}

.sidebar-toggle:hover {
  background: #199e9d!important;
}

@media (max-width: 767px) {
  .main-sidebar {
    //transform: translate(-260px, 0);
  }
  .main-header .logo, .main-header .navbar {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 9999px) {
  .navbar-nav > li > a, .sidebar-toggle {
    padding: 25px 15px!important;
  }
}

@media (max-width: 800px) {
  .style-banner {
    padding: 15em 2em 0 6em;
  }
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li.header {
  color: #444444;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #f4f4f4;
}

.img-circle-my {
  border-radius: 50%;
}

.btn-primary {
  background-color: #ff8d00;
  border-color: #ff8d00;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #d87802;
  border-color: #d87802;
}

.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
  color: #ff8d00;
}

.sidebar-menu > li > a {
  padding: 11px 5px 10px 25px;
  display: block;
  font-size: 15px;
}

.box.box-primary {
  border-top-color: #0cbebc;
}

.skin-blue .main-header li.user-header {
  background: #0cbebc;
}

.user-panel > .image > img {
  min-width: 75px;
  min-height: 75px;
  border-radius: 50% 50% 0 50%;
  //border: 3px solid #fff;
  padding: 0;
}

.user-panel, .info {
  padding-right: 0;
  padding-left: 0;
}

.modal {
  //z-index: 100000;
}

.user-panel .info {
  margin-top: 10px;
  padding-top: 10px;
  background: rgb(34,45,50);
  background: linear-gradient(180deg, rgba(34,45,50,1) 0%, rgba(25,158,157,1) 53%, rgba(34,45,50,1) 100%);
}

.sidebar-menu {
  overflow: visible;
}

.skin-blue .sidebar a {
  color: #fff;
}

.skin-blue .sidebar-menu > li:hover > a {
  background: none;
}

.bg-aqua.info-box {
  background: #0abebc!important;
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #ff8d00;
}

.img-qr {
  margin: 20px;
}

.login-box, .register-box {
  box-shadow: 0px 0px 13px -7px #000;
  border-radius: 10px;
  overflow: hidden;

  h2 {
    margin-top: 0;
    background: #ff8d00;
    text-align: center;
    color: #fff;
    height: 100px;
    line-height: 100px;
  }

  .col-lg-12 {
    padding-bottom: 20px; padding-top: 20px;
  }

}

.pull-right {
  color: #ff8d00;
}

.table th {
  text-align: center;
}

//.panel-redactor a {
//  cursor: pointer;
//  width: 85px;
//  display: block;
//  text-align: center;
//  padding: 10px;
//  box-sizing: border-box;
//  background: #3b8cbc;
//  color: #fff;
//  border-radius: 7px;
//  float: left;
//  margin-left: 5px;
//}

.sort {
  //position: relative;
}

.sort-btn {
  background-color: #30aa61;
  padding: 5px;
  color: #fff;
}

.delete-btn {
  background-color: #aa3a28;
  padding: 5px;
  color: #fff;
}

.sort-placeholder,
.sort-placeholder:after,
.sort-placeholder:before
{
  border: 3px dashed #aaa;
  background-color: #eee;
  display: table;
}

.sort-list-placeholder {
  border: 3px dashed #aaa;
  background-color: #eee;
  //min-height: 30px;
}

.box {
  overflow: hidden;
}


.grid {
  min-height: 100px;
  padding: 0;
}

.profile-box {
}

.outline-grid {
  outline: 1px dashed #444;
}

.file-preview {
  width: 20%;
  min-width: 200px;
  margin: auto;
}

.site-redactor-panel hr {
  margin: 5px 0;
  border-color: #d5d5d5;
}

.site-redactor-panel .form-group {
  margin-bottom: 5px;
}

.site-mini {
  width: 100%; color: #666;
}
.site-mini-header{
  height: 40px; line-height: 40px; width: 100%; text-align: center; background: #dea110; color: #fff;
}
.site-mini-top{
  height: 30px; line-height: 30px; width: 100%; text-align: center; background: #0f7b9f; color: #fff;
}
.site-mini-left{
  height: 150px; width: 25%; float: left; text-align: center; background: #5a5a5a; padding-top: 40px; color: #fff;
}
.site-mini-content{
  height: 150px; width: 50%; float: left; text-align: center; background: #eee; color: #5a5a5a; padding-top: 40px;
}
.site-mini-right{
  height: 150px; width: 25%; float: left; text-align: center; background: #5a5a5a; padding-top: 40px; color: #fff;
}

.right-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 50px;
  min-height: 100%;
  z-index: 810;
}



.edit-main-box {
  position: absolute; top: 0px; right: 0px; color:#fff; overflow: hidden; height: 0px; width: 220px;

  .js-builder-btn {
    width: 40px; height: 40px; background: #2ef398; border-radius: 0 0 0 0px; padding: 6px 10px; font-size: 19px; position: absolute; top:0; right: 0px; z-index:5; cursor: pointer;
  }

  .js-delete-btn {
    width: 40px; height: 40px; background: #f34b4d; border-radius: 0 0 0 15px; text-align: center; padding-top: 6px; font-size: 19px; position: absolute; top:0; right: 40px; z-index:5; cursor: pointer;
  }

  .js-box-name {
    width: 200px; height: 40px; position: absolute; border-radius: 0 0 0 15px; top:0; right: 15px; background: rgba(0,0,0,.5); z-index: 2; overflow: hidden; line-height: 40px; padding-left: 10px;
  }
}

.btn-sort-grid {
  position: absolute; top:0px; left: 0px; color: #fff; overflow: hidden; width: 60px;

  .js-sort-grid {
    width: 40px; height: 40px; background: #489af3; border-radius: 0 0 15px 0; padding: 6px 10px; font-size: 19px; position: absolute; top:0; right: 15px; z-index:5;
  }

}

.edit-grid {
  position: absolute; bottom:0px; right: 0px; color: #fff; overflow: hidden; width: 220px;

  .js-builder-btn {
    width: 40px; height: 40px; background: #f3661c; border-radius: 15px 0 0 0; padding: 6px 10px; font-size: 19px; position: absolute; top:0; right: 15px; z-index:5;
  }

  .js-box-name {
    width: 200px; height: 40px; position: absolute; border-radius: 15px 0 0 0; top:0; right: 15px; background: rgba(0,0,0,.5); z-index: 2; overflow: hidden; line-height: 40px; padding-left: 10px;
  }

}

.refresh-edit-box {
  overflow: hidden;
}

.core-sidebar {
  display: block;
  background: #000!important;
}

.btn-app.active-edit {
  background: #ff920b;
  color: #ffffff;
}

.wrapper, body {
  overflow-x: visible;
  overflow-y: visible;
}

.box-footer {
  border: none;
}

.btn-enable-panel {
  background-color: #ff8d00;
  border-color: #ff8d00;
  font-size: 16px;
  padding: 14px;
}

.btn-enable-panel:hover,
.btn-enable-panel:focus,
.btn-enable-panel:active {
  background-color: #b46400;
  border-color: #ff8d00;
}

.element-hide {
  display: none;
}

.nav-tabs-custom > .nav-tabs > li.active > a {
  border-top-color: transparent;
  border-left-color: #ff8d00;
  border-right-color: #ff8d00;
}
.nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a {
  background-color: #ff8d00;
  color: #fff;
}

.nav-tabs-custom {
  background: none;
}

.nav-tabs-custom > .tab-content {
  //border: 1px solid #ff8d00;
  //background: #ff8d000f;
  //border-radius: 10px;
  border-top: 3px solid #ff8d00;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0px 8px 0px #dedede;
}

.nav-tabs-custom > .nav-tabs > li:first-of-type {
  margin-left:10px;
}

.edit-element-box {
  background: #ff8d000f;
  border-radius: 10px;
  border: 1px solid #ff8d0094;
  padding-bottom: 10px;
  margin-top: 10px;
}

.va-middle {
  vertical-align: middle!important;
}

.box-header, .box-body {
  h2,h3,h4 {
    user-select: none;
  }
}

.one-string {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iauth-protected {
  /*background: #3c3c3c!important;*/
  font-family: 'Montserrat', sans-serif!important;
  font-weight: 400;
  /*box-shadow: inset 1px 1px 4px 4px #49d8b2;*/
  //border: 3px solid #a06ed6;
  /*border: 4px solid #853ad6;*/
  /*border-color: #853ad6 #853ad6 #49d8b2 #49d8b2;*/
  margin-bottom: 10px;
  border-top: 4px solid #49d8b2;
  margin-bottom: 10px;
  overflow: hidden;
}

.pincode-input-container input {
  background: #fff!important;
}

.iauth-color {
  color: #853ad6;
}

.iauth-confirm .iauth-close {
  margin-right: 10px;
}

.iauth-protected h3 {
  font-family: 'Montserrat', sans-serif!important;
  padding-top: 5px;
  padding-bottom: 10px;
  //border-bottom: 1px #e6e6e6 solid!important;
  margin-top: 0;
  font-size: 19px;
  color: #fff;


  background: #49d8b2;
  box-shadow: 1px 1px 40px 40px #49d8b2;
}
.iauth-protected .form-control::placeholder,
.iauth-protected .pinlogin input
{
  color: #49d8b2;
}

.iauth-protected .pinlogin .pinlogin-field {
  width: calc(95% / 6)!important;
  margin-left: calc(5% / 5)!important;
  margin-right: 0!important;
  border-radius: 1px;
}

.iauth-protected .form-control,
.iauth-protected .pinlogin input
{
  display: inline;
  border-radius: 0!important;
  border: 2px #49d8b2 solid!important;
  //border-right-width: 1px!important;
  //border-left-width: 0px!important;
  text-align: center!important;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  font-size: 18px!important;
  height: 45px!important;
  color: #853ad6!important;
  font-weight: 500!important;
}
.iauth-protected .form-control.first,
.iauth-protected .pinlogin:first-child,
.iauth-protected .pinlogin .pinlogin-field:first-of-type
{
  display: inline;
  border-radius: 4px 0 0 4px!important;
  margin-left: 0px!important;
  //border-left-width: 2px!important;
}
.iauth-protected .form-control.last,
.iauth-protected .pinlogin .pinlogin-field:last-of-type
{
  display: inline;
  border-radius: 0 4px 4px 0!important;
  //border-right-width: 2px!important;
}
.pinlogin-field:focus {
  outline: none;
}

.iauth-btn, .iauth-btn:focus {
  color: #fff;
  transition: all 0.3s;
  position: relative;
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  background-color: #853ad6;
  margin: 10px auto;
  border-width: 0px;
  display: block;
  outline: none;
  //text-transform: uppercase;
}
.iauth-btn:hover {
  background: transparent;
}
.iauth-btn span {
  transition: all 0.3s;
}
.iauth-btn::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  /*border-top-color: rgba(255,255,255,0.5);*/
  /*border-bottom-color: rgba(255,255,255,0.5);*/
  border-top-color: #49d8b2;
  border-bottom-color: #49d8b2;
  background: #49d8b233;
  transform: scale(0.1, 1);
}
.iauth-btn:hover span {
  letter-spacing: 2px;
  color: #49d8b2!important;
}
.iauth-btn:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.iauth-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  /*background-color: rgba(255,255,255,0.1);*/
}
.iauth-btn:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}


:root {
  --bg:#3498db;
  --checkmark:#853ad6;
  --cross: #f4715b;
  --btn:#FFDE49;
  --time:.5s;
}

.iauth-checkbox {
  width:50px;
  height:50px;
  border-radius:100%;
  background:#52dab4;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  //box-shadow:0 2px 5px rgba(0,0,0,.5);
}

.iauth-checkbox-icon {
  font-size:0;
  transform:rotate(225deg);
  transition:margin var(--time) ease;
  margin-top:3px;
  //filter:drop-shadow(-3px -3px 3px rgba(0,0,0,.8));
}

.iauth-checkbox-icon:before {
  content:'';
  display:inline-block;
  width:28px;
  height:4px;
  background:var(--cross);
  transition:all var(--time) ease;
  position:absolute;
  margin-left:-12px;
  transform:rotate(180deg);
  border-radius:50px;
}

.iauth-checkbox-icon:after {
  content:'';
  display:inline-block;
  width:4px;
  height:28px;
  background:var(--cross);
  transition:all var(--time) ease;
  position:absolute;
  margin-top:-12px;
  transform:rotate(360deg);
  border-radius:5px;
}

.iauth-checkbox-icon.checked {
  margin-right:10px;
  margin-top:22px;
}

.iauth-checkbox-icon.checked:before {
  content:'';
  display:inline-block;
  background:var(--checkmark);
  transform:rotate(0);
  width:14px;
  height:4px;
  margin:0;
}

.iauth-checkbox-icon.checked:after {
  content:'';
  display:inline-block;
  background:var(--checkmark);
  width:4px;
  height:28px;
  margin:0;
  transform:rotate(0);
}


.iauth-toggle, .iauth-for-content, .iauth-toggle-field{
  transition: all linear .3s;
}
.iauth-toggle > div {
  background: #49d8b255;
  padding: 10px;
  transition: all linear .3s;
  cursor: pointer;
}
.iauth-toggle:hover > div,
.iauth-toggle:hover > div {
  background: #49d8b2bb;
}