.transaction-incoming {
  color: #00a65b;
}

.transaction-payment {
  color: #36c1e0;
}

.transaction-cashout {
  color: #9d39dc;
}

.transaction-outgoing {
  color: #e22828;
}

.transactions {


  span.glyphicon {
    font-size: 25px;
  }

  .label {
    font-size: 18px;
  }
}

.transactions td {
  vertical-align: middle!important;
}